section(
    class="section section__one"
) 
    div(
        class="section__one-wrap"
    )   
        div(class="section__one-content")
            h3(    
                data-aos="fade-up"
                data-aos-duration="800"
            ) Giảm giá cuối năm
            
            h2(
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="150"
            ) Giảm giá 70% cho mọi loại sách

            p(
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
            )
                |   Văn học là cách an toàn để con người ta tìm hiểu về thế giới, cũng là phương tiện truyền lại những giá trị tốt đẹp từ đời này qua đời khác. Một cuốn sách hay sẽ cứu rỗi một đời người.
            
            a(
                href="#shopnow"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="450"
            ) Mua Ngay 
        div(class="section__one-content-overlay") 