section(class="policy")
    div(class="container")
        //- không có swiperjs
        //- div(class="policy__suport swiper")
            div(class="policy__suport-item")
                //- icon
                div(class="policy__suport-icon")
                    img(
                        src="/client/images/policy__suport-icon-01.png"
                        alt=""
                    )
                //- content
                div(class="policy__suport-content")
                    h3 Miễn phí vận chuyển
                    span Đơn hàng trên 500.000 đ                
            div(class="policy__suport-item")
                //- icon
                div(class="policy__suport-icon")
                    img(
                        src="/client/images/policy__suport-icon-02.png"
                        alt=""
                    )
                //- content
                div(class="policy__suport-content")
                    h3 Bảo mật thanh toán
                    span 100% Bảo mật thanh toán
            div(class="policy__suport-item")
                //- icon
                div(class="policy__suport-icon")
                    img(
                        src="/client/images/policy__suport-icon-03.png"
                        alt=""
                    )
                //- content
                div(class="policy__suport-content")
                    h3 Giá tốt nhất
                    span Bảo đảm giá tốt nhất
            div(class="policy__suport-item")
                //- icon
                div(class="policy__suport-icon")
                    img(
                        src="/client/images/policy__suport-icon-04.png"
                        alt=""
                    )
                //- content
                div(class="policy__suport-content")
                    h3 Hoàn tiền
                    span Hoàn tiền trong vòng 30 ngày

        //- có swiperjs
        div(class="swiper swiper__policy")
            div(class="swiper-wrapper")
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-01.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Miễn phí vận chuyển
                            span Đơn hàng trên 500.000 đ  
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-02.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Bảo mật thanh toán
                            span 100% Bảo mật thanh toán
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-03.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Giá tốt nhất
                            span Bảo đảm giá tốt nhất
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-04.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Hoàn tiền
                            span Hoàn tiền trong vòng 30 ngày
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-04.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Hoàn tiền
                            span Hoàn tiền trong vòng 30 ngày
                div(class="swiper-slide")
                    div(class="policy__suport-item")
                        //- icon
                        div(class="policy__suport-icon")
                            img(
                                src="/client/images/policy__suport-icon-04.png"
                                alt=""
                            )
                        //- content
                        div(class="policy__suport-content")
                            h3 Hoàn tiền
                            span Hoàn tiền trong vòng 30 ngày