extends ../../layouts/default.pug

//- Mixins
include ../../mixins/box-head
include ../../mixins/pagination
include ../../mixins/form
include ../../mixins/upload-image
include ../../mixins/alert

//- Title
block title 
    title #{title}

//- Mai Title
block main
    +alert-success
    +alert-warning
    +alert-error
    if(role.permissions.includes('roles_create'))
        //- box-head
        -
            var breadcrumbArray = 
            [
                "Dashboard",
                "Nhóm Quyền",
                "Chỉnh Sửa Nhóm Quyền"
            ]
            
        +box-head-use-breadcrumb("CHỈNH SỬA NHÓM QUYỀN", breadcrumbArray)

        //- card
        div(class="card")
        div(class="card__body")
            form(
                id="form-create-role"
                action=`${path_admin}/roles/edit/${record.id}/?_method=PATCH`
                method="post"
                class="form form__create"
            )   
                div(class="form__normal")
                    div(class="form__item")
                        label(for="" class="label") Tên
                        input(
                            name="title"
                            value=record.title
                            type="text"
                            placeholder="Nhập tên nhóm quyền của bạn"
                        )
                    div(class="form__item")
                        label(for="" class="label") Mô tả Nhóm Quyền
                        textarea(
                            name="description"
                            rows="5"
                            placeholder="Mô Tả Nhóm Quyền..."
                            class="textarea-tinymce"
                        ) !{record.description}

                //- button submit
                div(class="form__submit")
                    button(type="submit" class="button button__outline") Cập Nhật

    //- end card
    else 
        h1(style="color:white") Bạn không có quyền truy cập
block script 
    //- tiny-mce
    script(src="/tinymce/tinymce.min.js")
    script(src="/admin/js/tinymce-config.js")
    //- hết tiny-mce

    script(type='module' src="/admin/js/script.js")