extends layouts/default.pug

//- Mixins
include mixins/box-head
include mixins/pagination
include mixins/form

block title 
    title Phân Quyền

//- Main
block main
    //- box-head
    -
        var breadcrumbArray = 
        [
            "Dashboard",
            "Nhóm Quyền",
            "Phân Quyền"
        ]
        
    +box-head-use-breadcrumb("PHÂN QUYỀN", breadcrumbArray)

    -   
        var roles = [
            {
                title: "Quản trị viên",
            },
            {
                title: "Quản lý danh mục"
            },
            {
                title: "Quản lý sản phẩm",
            },
            {
                title: "Nhân viên"
            }
        ]
    //- card
    div(class="card")
        div(class="card__body")
            div(class="card__head")
                div(class="card__head-wrap")
                    //- left    
                    div(class="card__head-left")
                        //- form search
                        +form-search
                    //- right
                    div(class="card__head-right")
                        //- add product
                        div(class="button button__outline")
                            |   Cập nhật
            
        div(class="card__body")
            //- table
            table(class="table-permission")
                thead(class="table-permission__head")
                    tr 
                        th Tính năng 
                        each item in roles 
                            th  #{item.title}
                tbody(class="table-permission__body")
                    //- sản phẩm
                    tr
                        td(colspan="5")  Sản phẩm
                    tr 
                        td  Xem 
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Thêm
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Sửa
                        each item,index in roles 
                            td 
                                input(
                                        type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Xóa
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    //- danh mục
                    tr
                        td(colspan="5")  Danh mục
                    tr 
                        td  Xem 
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Thêm
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Sửa
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )
                    tr 
                        td  Xóa
                        each item,index in roles 
                            td 
                                input(
                                    type="radio"
                                    class="radio-tick"
                                )

