//- form tìm kiếm
mixin form-search(keyword)
    form(
        action ="" 
        class  = "form form__search"
        method = "POST"  
        form-search
    )
        input(
            type="text" 
            placeholder="Tìm kiếm ở đây..." 
            class=""
            value=keyword 
        )
        button(
            type="submit" 
            class=""
        )
            i(class="fa-solid fa-magnifying-glass")
//- hết form tìm kiếm

//- form thay đổi trạng thái sản phẩm, xóa mềm sản phẩm
mixin form-execute(id, path)
    form(
        class="hidden"
        method="POST"
        id=id
        data-path = `/admin` + `${path}`
    )
//- hết form thay đổi trạng thái sản phẩm, xóa mềm sản phẩm

