//- field: tên của trường dữ liệu sẽ lưu trong db
//- thumbnail: file ảnh nếu có
//- repeat: số ảnh muốn upload

mixin upload-image(field, thumbnail, repeat)
    div(class="upload-image")
        - for (let i = 0; i < repeat; i++)
            -   var classPreview = thumbnail[i] ? 'preview' : ""
            div(class=`upload-image__item upload-image__item-${repeat} ${classPreview}`)
                div(class="upload-image__item-group")
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    label(class="") Thả hình ảnh của bạn vào đây hoặc chọn
                    input(type="file" name=field)
                img( 
                    src=thumbnail[i] 
                    class="hidden" 
                    img-preview
                )
                span(class="upload-image__close-preview" close-img-preview)
                    <i class="fa-solid fa-xmark"></i>